@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&display=swap');
body{
    background-image: url(/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    display: block; 
    margin: auto;
    height: 40px;
    width: 40px;
}

.container{
    max-width: 850px;
    margin: auto;
    height: 70vh;
    padding: 15px;
    overflow-y: auto;
}

.message{
    color: white;
    border: 1px solid white;
    /* background-color: purple; */
    margin: 5px;
    padding: 13px;
    font-weight: bold;
    font-size: 17px;
    font-family:'Nunito Sans', sans-serif;

}

.left{
    float: left;
    clear: both;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.right{
    float: right;
    clear: both;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.center{
    width: 30%;
    text-align: center;
    padding: 10px;
    display: block;
    margin: auto;
    clear: both;
    border: none;
    
}

#send-message{
    margin: auto;
    max-width: 800px;
    text-align: center;
}

#messageInp{
    width: 700px;
    margin-top: 10px;
    padding: 7px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 3px solid whitesmoke;

}
.btn{
    height: 34px;
    width: 65px;
    border: 2px solid whitesmoke;
    background: none;
    color: whitesmoke;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(233, 20, 66, 0.767);
    opacity: 0.8;
}

.btn:active{
    background-color: rgba(233, 20, 66, 0.767);
    opacity: 0.8;
}

div h1{
    display: block;
    margin: auto;
    text-align: center;
    color: aliceblue;
    font-family: 'Nunito Sans', sans-serif;
}

input{
    color: aliceblue;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}